@using MVC.ECommerce.DAL.Model
@model ProductAddModel

@section links{

    @Html.ActionLink("Ürün Listele", "List", null, new { @class = "breadcrumb-item" })
    <span class="breadcrumb-item active">Ürün Ekle</span>

}

<div class="kt-mainpanel">
    <div class="kt-pagetitle">
        <h5>Ürün Ekle</h5>
    </div>

    <div class="kt-pagebody">

        <div class="row">
            @if (TempData["Msg"] != null)
            {
                <span class="alert alert-success">@TempData["Msg"]</span>
            }
        </div>

        @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            <div class="form-group">
                <label>Ürün Adı:</label>
                @Html.DropDownListFor(x => x.Product.CategoryId, new SelectList(ViewBag.Categories, "Value", "Text"), "Kategori Seçiniz", new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Kategori Adı :</label>
                @Html.TextBoxFor(x => x.Product.Name, new { @class = "form-control", @type = "text", @placeholder = "Kategori adı giriniz" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.Name)</span>
            </div>

            <div class="form-group">
                <label>Ürün Başlığı:</label>
                @Html.TextBoxFor(x => x.Product.Title, new { @class = "form-control", @type = "text", @placeholder = "Ürün başlığı giriniz" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.Title)</span>
            </div>

            <div class="form-group">
                <label>Stok Miktarı:</label>
                @Html.TextBoxFor(x => x.Product.UnitsInStock, new { @class = "form-control", @type = "text", @placeholder = "Stok miktarı giriniz" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.UnitsInStock)</span>
            </div>

            <div class="form-group">
                <label>Ürün Fiyatı:</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Product.Price, "{0:c}", new { @class = "form-control", @type = "decimal", @placeholder = "Ürün fiyatını giriniz" })
                    <span class="btn btn-default">TL</span>
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.Price)</span>
            </div>

            <div class="form-group">
                <label>Açıklama:</label><br />
                <span style="font-size:9pt">Kalan karakter sayısı : <span style="font-size:9pt" id="karakterSayisi">250</span></span>
                @Html.TextAreaFor(x => x.Product.Description, 10, 10, new { @class = "form-control", @type = "text", @placeholder = "Ürün açıklaması giriniz", @id = "desc" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.Description)</span>
            </div>

            <div class="form-group">
                <label>Ürün Kodu:</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Product.ProductCode, new { @class = "form-control", @type = "text", @placeholder = "Ürün kodu oluşturunuz", @id = "productCode" })
                </div>
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.ProductCode)</span>
            </div>

            <div class="form-group">
                <label>Stok Güncelleme Tarihi:</label>
                @Html.TextBoxFor(x => x.Product.StockUpDate, "{0:d}", new { @class = "form-control", @type = "text", @readonly = "readonly", @id = "stokTarih", Value = DateTime.Now.ToShortDateString() })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Product.StockUpDate)</span>
            </div>

            <div class="form-group">
                <label>Ürün Görseli:</label>
                @Html.TextBox("UploadedProductPic", null, new { @type = "file", @multiple = true, @accept = "image/*",@class="form-control" })
            </div>
            <input type="submit" value="Ekle" class="btn btn-outline-success" />
        }
        <br />

    </div>
</div>





@section scripts{
    <script>

        $(document).ready(function () {

            var karakter = 250;

            $("#desc").keypress(function () {
                if (karakter < 0)
                    return false;
                else {
                    karakter--;
                    $("#karakterSayisi").text(karakter);
                }
            });

            $("#desc").keydown(function (e) {
                if (e.keyCode == 8 && karakter < 250)
                    karakter++;
                $("#karakterSayisi").text(karakter);
            });


        });



    </script>


}