
@model IEnumerable<Category>

@{ 
    string controllerName = "Category";
}
<thead>
    <tr>
        <th class="wd-15p">#</th>
        <th class="wd-15p">KATEGORİ ADI</th>
        <th class="wd-15p">AÇIKLAMA</th>
        <th class="wd-15p">ÜST KATEGORİ</th>
        <th class="wd-15p"></th>
        <th class="wd-15p"></th>
    </tr>
</thead>
<tbody>
    @foreach (Category item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.UpCategory.Name</td>
            <td>
                @Html.ActionLink("Güncelle", "Update", controllerName, new {id=@item.Id}, new { @class = "btn btn-outline-success" })
            </td>
            <td>
                @Html.ActionLink("Sil", "Delete", controllerName, new { id = @item.Id }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
</tbody>